.root{
    -fx-padding: 1cm;
    -fx-background-color: slategray;
    -fx-background-size: 100%;
    -fx-font : 14px "serief";
}
.text-field{
    -fx-end-margin: 1;
    -fx-start-margin: 1;
    -fx-background-color: darkcyan;
    -fx-background-size: 3cm;
}
.VBox{
    -fx-padding: 10cm;
}