.root{
    -fx-background-image: url("firstMenuBackground.png");
    -fx-background-size: cover;
    /*-fx-background-color: #dc143c;*/
    -fx-font : 14px "serief";
}

.button{
    -fx-background-color: darkgreen;
    -fx-text-fill: azure;
}