.root{
    -fx-background-image: url("abstract-blurred-photo-store-with-trolley-department-store-bokeh-background_1980-8.jpg");
    -fx-background-size: 100%;
    /*-fx-background-color: #dc143c;*/
}

.button{
    -fx-background-color: darkgreen;
    -fx-text-fill: azure;
}